<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算器</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <div>
            <label for="firstNum">{{msg1}}</label>
            <input type="number" id="firstNum"  v-model="firstNum">
        </div>
        <div>
            <label for="secondNum">{{msg2}}</label>
            <input type="number" id="secondNum" v-model="secondNum">
        </div>
        <input type="button" value="+" @click="jia">
        <input type="button" value="-" @click="jian">
        <input type="button" value="*" @click="cheng">
        <input type="button" value="%" @click="chu">
        <h4>{{msg3}}</h4><input type="text" style="border: none;" v-model="res">
    </div>
    <script>
        let app = new Vue({
            el:"#app",
            data:{
                title:"简易计算器",
                msg1:"请输入第一个数",
                msg2:"请输入第二个数",
                msg3:"计算结果是：",
                firstNum:"",
                secondNum:"",
                res:""
            },
            methods:{
                jia(){
                    let result = parseInt(this.firstNum) + parseInt(this.secondNum);
                    this.res = result; 
                },
                jian(){
                    let result = parseInt(this.firstNum) - parseInt(this.secondNum);
                    this.res = result; 
                },
                cheng(){
                    let result = parseInt(this.firstNum) * parseInt(this.secondNum);
                    this.res = result; 
                },
                chu(){
                    let result = parseInt(this.firstNum) % parseInt(this.secondNum);
                    this.res = result; 
                },
            }
        })
    </script>
</body>
</html>